.list-item {
    margin: 10px 0;
}

.list-item .photo {
    width: 60px;
    float: left;
    margin-right: 10px;
}

.list-item .name {
    display: block;
}

.list-item .zone {
    display: block;
}

.list-item .zone::before {
    content: 'Zone: ';
    font-weight: bold;
}

.search-result::after, .list-item::after {
    content: ' ';
    clear: both;
    display: block;
}

.search-result {
    margin: 10px 0;
}

.search-result .photo {
    width: 60px;
    float: left;
    margin-right: 10px;
}

.search-result .name {
    display: block;
}
