body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    display: none;
}

#account-form {
    display: block;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    width: 300px;
    height: 300px;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

#account-form input {
    margin: 8px 0;
    height: 40px;
}

#account-form .field {
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
}

#account-form .submit-button {
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #65bcd4;
}

#account-form .submit-button:hover {
    background-color: #459cb4;
}

#account-form input:focus {
    outline: 0;
}

#account-form .fine-print {
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

#account-form a {
    color: #65bcd4;
    text-decoration: none;
}

#account-form a:hover {
    color: #459cb4;
}

#account-error {
    display: none;
    position: absolute;
    bottom: calc(50% + 166px);
    left: calc(50% - 150px);
    width: 300px;
    padding: 16px;
    box-sizing: border-box;
    color: #500;
    background-color: #fcbebd;
    text-align: center;
}

@media screen and (max-height: 450px) {
    #account-error {
        position: relative;
        left: 0;
        bottom: 0;
        margin: 16px auto;
    }

    #account-form {
        position: relative;
        left: 0;
        bottom: 0;
        margin: 16px auto;
    }
}

.modify-buttons {
    text-align: center;
    margin-top: 20px;
}

.modify-buttons button {
    height: 34px;
    box-sizing: border-box;
    border-radius: 17px;
    border: none;
    background-color: white;
    cursor: pointer;
    color: #555;
    font-size: 17px;
    line-height: 34px;

    background-position-x: 10px;
    background-position-y: 7px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 0 22px 0 42px;

    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

.modify-buttons button:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.modify-buttons button:focus {
    outline: 0;
}

.modify-buttons .add-button {
    background-image: url(svg/add.svg);
}

.empty-list, .item-list {
    width: 600px;
    position: absolute;
    left: calc(50% - 300px);
}

.item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.empty-list {
    display: none;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 10px;
}

.item-list li, .empty-list {
    background-color: white;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 620px) {
    .empty-list, .item-list {
        width: calc(100% - 20px);
        position: relative;
        left: 10px;
    }
}

.item-list li {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 20px 0;
    cursor: pointer;
    position: relative;
}

.item-list li:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.item-list li > * {
    cursor: pointer;
}

.item-list .list-store::after {
    content: ' ';
    display: block;
    clear: both;
}

.item-list .list-store .logo {
    float: left;
    height: 80px;
    width: 80px;
}

.item-list .list-store .name {
    display: block;
    position: absolute;
    top: 15px;
    left: 95px;
    width: calc(100% - 95px);
    font-weight: bolder;
}

.item-list .list-store .address {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 95px;
    width: calc(100% - 95px);
    font-style: oblique;
}
